<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #712CF9;">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">License plate reader</a>
          <a class="nav-item nav-link" id="home" href="/">Learn more</a>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

{% block javascript %}
<script type="text/javascript">
    document.getElementById('photo').addEventListener('change', function(e) {
      if (e.target.files[0]) {
        let dragContainer = document.getElementById("drag-drop-container");
        dragContainer.innerHTML = "";
        let imgElement = document.createElement('img');
        imgElement.classList.add('img-preview');
        // imgElement.src = e.target.files[0].name;
        dragContainer.appendChild(imgElement);
        
        var reader = new FileReader();
        reader.onload = function (e) {
          imgElement.src = e.target.result;
          localStorage.setItem('car-photo', e.target.result)
          Toastify({
            text: "Image uploaded",
            duration: 3000,
            close: true,
            gravity: "bottom", // `top` or `bottom`
            position: "center", 
            // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "rgba(113, 44, 249, 0.2)",
              border: "1px solid rgba(113, 44, 249, 1)",
              color: "rgba(113, 44, 249, 1)"
            },
          }).showToast();
        };
        reader.readAsDataURL(e.target.files[0]);
      }
    });

    let dragDropContainer = document.getElementById("drag-drop-container");
    dragDropContainer.addEventListener('dragover', () => {
      dragDropContainer.classList.add('hover');
    })
    dragDropContainer.addEventListener('dragleave', () => {
      dragDropContainer.classList.remove('hover');
    })
    dragDropContainer.addEventListener('drop', (e) => {
      e.preventDefault();
      let image = e.datTransfer.files[0];
      let type = image.type;
      
      if(type == "image/jpg" || type == "image/jpeg" || type=="image/png") {
        uploadImage(image);
      }
      else {
        return;
      }
    })
  </script>
    {% endblock %}
  </body>
</html>