{% extends "base.html" %} {% block title %}Car details{% endblock %} {% block content %}
<div class="container form-container">
  <div class="form-wrapper">
    <h6>
      Automatic Number Plate Recognition (ANPR) is a highly accurate system capable of reading vehicle number plates without human intervention.
    </h6>
    <form method="POST" enctype=multipart/form-data>
      <div class="drag-drop-container" id="drag-drop-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, .2);">
          <path d="m9 13 3-4 3 4.5V12h4V5c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h8v-4H5l3-4 1 2z"></path>
          <path d="M19 14h-2v3h-3v2h3v3h2v-3h3v-2h-3z"></path>
        </svg>
        <span>Drag and drop your image here</span>
      </div>
      <label for="photo" class="file-input-label">
        <input type="file" name="photo" id="photo"> Upload image 
        <svg class="upload-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(113, 44, 249);">
          <path d="M11 15h2V9h3l-4-5-4 5h3z"></path><path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path>
        </svg>
      </label>
      <input class="submit-btn" type="submit" value="Analyze image">
    </form>
  </div>
</div>
{% endblock %}